{% extends "base.html" %}
{% block title %}Account Details{% endblock %}

{% block body %}
		<div class="student-profile-details">
		    <form action="" accept-charset="utf-8" style="width:50%">
			    <label for="rollNo">Roll Number</label>
			    <input type="text" value={{record.rollNo}} readonly/>

			    <label for="name">Name</label>
			    <input type="text" value={{record.name}} readonly/>

			    <label for="roomNo">Account No</label>
			    <input type="number" value={{accNo}} readonly/>

			    <label for="roomNo">Balance</label>
			    <input type="number" value={{balance}} readonly/>

		    </form>

{% endblock %}
