{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
{% endblock %}


{% block style %}
<style>
  form{
    width:50%;
  }
</style>
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-6" style="width: 45%; height: 300px;display: inline-block">
        <form>
          <label for="mealType" style="float:left;color:#000000">Meal Type:</label>
          <select id="mealType" name="mealType">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="tiffin">Evening Snacks</option>
        <option value="dinner">Dinner</option>
          </select> 
        <label for="wastage">Wastage:</label>
        <input type="text"  id="wastage" name="wastage"/>
    </form>
        </div>
        <div class="col-xs-6" id="chartContainer1" style="width: 45%; height: 300px;display: inline-block">
            
        </div>
    </div>
</div>
<script>
    function addItem(){
        var li = document.createElement("LI");  
        var input = document.getElementById("add");
        li.innerHTML = input.value;
        input.value = "";

        document.getElementById("faves").appendChild(li);
    }
</script>

<input type="button" id="btnAdd" value="Add" onclick="addItem()">

        <ul id="faves">
            <li>Video Games</li>
            <li>Food</li>
            <li>Sleeping</li>
        </ul>
{% endblock %}