{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
{% endblock %}


{% block style %}
<style>
  form{
    width:50%;
  }
</style>
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="container">
              <div class="row">
                <div class="col-sm-6" style="width:20%;height:20%;margin-right:-20">
                    <img src="../static/images/extras/fullFry.jpg" alt="Full Fry" ></img>
                    <img src="../static/images/extras/halfFry.jpg" alt="Half Fry" ></img>
                    <img src="../static/images/extras/chickenCurry.jpg" alt="Chicken Curry" ></img>
                    <img src="../static/images/extras/chickenFry.jpg" alt="Chicken Fry" ></img> 
                </div>
                <div class="col-sm-6" style="width:20%;height:20%">
                    <img src="../static/images/extras/omelette.jpg" alt="Omelette" ></img>
                    <img src="../static/images/extras/curd.jpg" alt="Curd" ></img>  
                    <img src="../static/images/extras/boiledEgg.jpg" alt="Boiled Egg" ></img>         
                    <img src="../static/images/extras/eggBhurji.jpg" alt="Egg Bhurji" ></img>       
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-6">
            TWO
        </div>
    </div>
</div>


{% endblock %}



