{% extends "base.html" %}
{% block title %}Statistics{% endblock %}


{%block style%}
<style>
.2,.1 {
    float: left;
}
.clearfix{
    clear:both
}

</style>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		// var chart1;
		// var data1;
		window.onload = function () {

				data = []
				{% for entry in wastage %}
				data.push({y: {{entry.1}}, label: "{{entry.0}}"});
				{% endfor %}		
											
				var chart = new CanvasJS.Chart("chartContainer1", {
					title: {
						text: "Daily Wastage"
					},


					data: [{
						type: "column",

						dataPoints: data
					}]
				});
				chart.render();

			var chart2 = new CanvasJS.Chart("chartContainer2",
			{
				title:{
					text: "Pie Chart"
				},
				data: [
				{
					type: "pie",
					dataPoints: [
						{ y: 4181563},
						{ y: 2175498},
						{ y: 3125844},
						{ y: 1176121},
						{ y: 1727161},
						{ y: 4303364},
						{ y: 1717786}
					]
				}
				]
			});
			chart2.render();
		}


	</script>
	<script src="../static/js/canvasjs.min.js"></script>

<script>
$(document).ready(function(){
	$('#waste').on('keydown','#wastage',function(e){
		if(e.which==13){
			$.post("/stats/",
			{
				csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,    					
				wastage : $(this).val()
			},
			function(data,status){
		    	if(status==="success"){	
		    		$('#wastageDisplay').replaceWith(data);	
	            	$('#errorMessage').hide();		    		
		    	}
		    	else{
	            	$('#errorMessage').text("Wastage couldn't be updated");
	            	$('#errorMessage').show();		    		
		    	}			
			});				
		}
	});
});
</script>
{% endblock %}


{% block body %}
<!-- {% if loginType == "MessAuthority" %} -->

<!-- {% endif %} -->

{% if loginType == "Student" %}

<div class="container">
    <div class="row">
        <div id="chartContainer1" style="width: 45%; height: 500px;display: inline-block;"></div>
        <div id="chartContainer2" style="width: 45%; height: 500px;display: inline-block;"></div>
    </div>
</div>




<!-- second stats comes here -->


{% elif loginType == "MessAuthority" %}

<div class="container" id = "waste">
	<div id="wastageDisplay">
	    <div class="row">
	        <div class="col-xs-6" style="width: 45%; height: 500px;display: inline-block; margin-top:170px">
	            <div class="alert alert-danger" id ="errorMessage" style="display: none">
				</div>  
		        <form>{% csrf_token %}
				    <label for="wastage">Today's Wastage:</label>
				    <input type="text"  id="hidden" name="wastage" style="display:none"/>
				    <input type="text"  id="wastage" name="wastage"/>
				</form>
	        </div>
	        <div class="col-xs-6" id="chartContainer1" style="width: 45%; height: 500px;display: inline-block">
	            
	        </div>
	    </div>
	</div>
</div>



{% endif %}
{% endblock %}
