<div id="wastageDisplay">
	    <div class="row">
	        <div class="col-xs-6" style="width: 45%; height: 500px;display: inline-block; margin-top:170px">
	            <div class="alert alert-danger" id ="errorMessage" style="display: none">
				</div>  
		        <form>
				    <label for="wastage">Today's Wastage:</label>
				    <input type="text"  id="hidden" name="wastage" style="display:none"/>
				    <input type="text"  id="wastage" name="wastage" value="{{currWastage}}"/>
				</form>
	        </div>
	        <div class="col-xs-6" id="chartContainer1" style="width: 45%; height: 500px;display: inline-block">
	            
	        </div>
	    </div>
	</div>