{% extends "base.html" %}
{% block title %}Statistics{% endblock %}
{% block script %}
	<script type="text/javascript">
		window.onload = function () {

				data = []
				{% for key, value in wastage %}
				data.push({y: {{value}}, label: "{{key}}"});
				{% endfor %}		
											
				var chart = new CanvasJS.Chart("chartContainer1", {
					title: {
						text: "First Chart"
					},


					data: [{
						type: "column",

						dataPoints: data
					}]
				});
				chart.render();

			var chart = new CanvasJS.Chart("chartContainer2",
			{
				title:{
					text: "Pie Chart"
				},
				data: [
				{
					type: "pie",
					dataPoints: [
						{ y: 4181563},
						{ y: 2175498},
						{ y: 3125844},
						{ y: 1176121},
						{ y: 1727161},
						{ y: 4303364},
						{ y: 1717786}
					]
				}
				]
			});
			chart.render();
		}


	</script>
	<script src="../static/js/canvasjs.min.js"></script>

{% endblock %}


{% block body %}
<!-- {% if loginType == "MessAuthority" %} -->

<!-- {% endif %} -->

<div id="chartContainer1" style="width: 45%; height: 300px;display: inline-block;"></div>
<!-- second stats comes here -->
<div id="chartContainer2" style="width: 45%; height: 300px;display: inline-block;"></div>



{% endblock %}
