{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block style %}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-6" style="width: 45%; height: 500px;display: inline-block; margin-top:170px">
        <form>
		    <label for="wastage">Breakfast:</label>
		    <input type="text"  id="wastage" name="wastage"/>
   		</form>
   		<form>  
   		    <label for="wastage">Lunch:</label>
		    <input type="text"  id="wastage" name="wastage"/>

		</form>
        </div>

        <div class="col-xs-6" style="width: 45%; height: 500px;display: inline-block; margin-top:170px">
        <form>
		    <label for="wastage">Breakfast:</label>
		    <input type="text"  id="wastage" name="wastage"/>
   		</form>
   		<form>
   		    <label for="wastage">Lunch:</label>
		    <input type="text"  id="wastage" name="wastage"/>

		</form>
        </div>
    </div>
</div>

{% endblock %}