 {% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block style %}
<style>
	th,td{
		text-align:left;
		border: 1px solid #dddddd;
	}
</style>
{% endblock %}

{% block body %}
<br>
<br>
<div class="container">
  	<div class="w3-container table">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="border: 1px solid #dddddd">Start Date </th>
					<th style="border: 1px solid #dddddd">Start Meal Type  </th>
					<th style="border: 1px solid #dddddd">End Date  </th>
					<th style="border: 1px solid #dddddd">End Meal Type </th>
				</tr>
			</thead>
			<tbody>
			{% for record in records %}
				<tr> 
				    <td>{{record.startDate}}</td>
				    <td>{{record.startMealType}}</td>
				    <td>{{record.endDate}}</td>
				    <td>{{record.endMealType}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

