{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body_background %}
	<li><img src="../static/images/slider/1.jpg" alt="Slide 1"></li>
	<li><img src="../static/images/slider/2.jpg" alt="Slide 2"></li>
	<li><img src="../static/images/slider/3.jpg" alt="Slide 3"></li>
	<li><img src="../static/images/slider/4.jpg" alt="Slide 4"></li>
	<li><img src="../static/images/slider/5.jpg" alt="Slide 5"></li>
	<li><img src="../static/images/slider/6.jpg" alt="Slide 6"></li>
{% endblock %}

{% block style %}
<style>
	ul.list_sbar {
	    position:relative;
	    overflow: hidden;
	}
	ul.list_sbar li {
	    clear:both;
	    border-top: solid 1px #ddd;
	    min-height:22px;
	    line-height: 22px;
	    text-decoration: none;
	    background: #fff;
	    outline: 0;
	    font-weight: normal;
	    padding: 4px 9px;
	  	margin-top: 10px;
    	border:1px solid grey;
	}

	ul.list_sbar li:first-child {
		margin-top:0;
	}

	ul.list_sbar li:last-child {
	    border-bottom: solid 1px #ddd;
	}
	ul.list_sbar li a {
	    text-decoration: none;
	    z-index: 34;
	    color: #666;
	    margin-bottom: 0;
	    display:inline-block;
	    outline: 0;
	    float:left;
	}
	ul.list_sbar li:hover {
	    color: #111;
	    background: #FFF2BE;
	    -moz-box-shadow: inset 0 0 1px #333;
	    -webkit-box-shadow: inset 0 0 1px #333;
	    box-shadow: inset 0 0 1px #333;
	}
	ul.list_sbar li a:after {
	    position: absolute;
	    line-height: 22px;
	    font-size: 18px;
	    text-align: right;
	    padding-right: 8px;
	    content:"×";
	    width: 20px;
	    height: 100%;
	    right: 0;
	    color: #999;
	}
</style>
{% endblock %}
{% block body %}


{% if loginType == "Student" %}
{% if not notifications %}
<font size="5" color="white">Nothing to notify.... have a good day :)</font>
{% else %} 
<ul class="list_sbar list-group"> 
{% for note in notifications %}
	{# Each "notification" is a notification model object. #}
    <li style="">
    	<h4 style="display: block; font-family: 'Nunito', sans-serif; color: #384047; margin: 0 0 5px 0; text-align: center; float:left">Time Stamp: {{note.0}} </h4>
    	<br>
    	<div class="templatemo_hometext">
    	{{note.1}}
    	</div>
    </li>
{%endfor%}
</ul>

<div class="container">    
	<ul class="pagination">
	    <li>
	        {% if notifications.has_previous %}
	            <a href="?page={{ notifications.previous_page_number }}" style="color:#DE4700">&laquo;</a>
	        {% endif %}
	    </li>
	    <li>
	        <span class="current" style="color:#DE4700">
	            Page {{ notifications.number }} of {{ notifications.paginator.num_pages }}.
	        </span>
	    </li>
	    <li>
	        {% if notifications.has_next %}
	            <a href="?page={{ notifications.next_page_number }}" style="color:#DE4700">&raquo;</a>
	        {% endif %}
	    </li>
	</ul>
</div>






{% elif loginType == "MessAuthority"%}
<!-- <div class="container"> -->
  <form class="form-horizontal">
    <div class="form-group">
        <textarea class="span6" rows="1" placeholder="Subject" required></textarea>
        <textarea class="span6" rows="4" placeholder="Write Notification" required></textarea>

    </div>

<div class="btn-group">
<button type="submit" class="btn btn-primary" style="background-color:#DE4700;margin-top:-50px;margin-right:100px">Submit</button>{% csrf_token %}
</div>

  </form>
<!-- </div> -->


{% endif %}
{% endblock %}