<div class="container" id="messMenuTable">
    <div  class="w3-container table">   
        <table class="editableTable table table-striped">
                <thead>
                    <tr>
                        <th style="border: 1px solid #dddddd;width:400px;vertical-align:middle;text-align:center" > Meal Type </th>
                        <th style="border: 1px solid #dddddd;width:400px;vertical-align:middle;text-align:center" id="monday">Monday </th>
                        <th style="border: 1px solid #dddddd;width:400px;vertical-align:middle;text-align:center" id="tuesday">Tuesday </th>
                        <th style="border: 1px solid #dddddd;width:400px;vertical-align:middle;text-align:center" id="wednesday">Wednesday</th>
                        <th style="border: 1px solid #dddddd;width:400px;vertical-align:middle;text-align:center" id="thursday">Thursday</th>
                        <th style="border: 1px solid #dddddd;width:400px;vertical-align:middle;text-align:center" id="friday"> Friday </th>
                        <th style="border: 1px solid #dddddd;width:400px;vertical-align:middle;text-align:center" id="saturday"> Saturday </th>
                        <th style="border: 1px solid #dddddd;width:400px;vertical-align:middle;text-align:center" id="sunday"> Sunday </th>
                    </tr>
                </thead>
                <tbody id="messMenu">
                {% for key, values in hostel_food %}
                    <tr> 
                        <td style="vertical-align:middle;text-align:center">{{ key }}</td>
                        {% for list in values %}
                            <td  class="outerTd" id="{{ key }}">
                                <table>
                                    {% for v in list %}                                
                                        <tr>
                                            <td style="border: 0px">
                                                {{v}}
                                            </td>
                                        </tr>
                                    {% endfor %}    
                                </table>                            
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
</div>