{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Review and Rate{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
{% endblock %}


{% block style %}
<style>
  form{
    width:50%;
  }
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
//  Check Radio-box
    $(".rating input:radio").attr("checked", false);
    $('.rating input').click(function () {
        $(".rating span").removeClass('checked');
        $(this).parent().addClass('checked');
    });

    $('input:radio').change(
    function(){
        var userRating = this.value;
        alert(userRating);
    }); 
});
</script>
{% endblock %}

{% block body %}
    <div class="student-profile-details">
          <form action="/reviewAndRate/" method="post" accept-charset="utf-8">
            <h1>Review the hostel</h1><br>



              <span class="rating" style="float:left">  
                <h4 style="display: block; font-family: 'Nunito', sans-serif; color: #384047; margin: 0 0 10px 0; text-align: center; float:left">Taste: </h4>            
                      <input type="radio" class="rating-input" id="rating-input-1-5" name="taste" value="5"/>
                      <label for="rating-input-1-5" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-4" name="taste" value="4"/>
                      <label for="rating-input-1-4" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-3" name="taste" value="3"/>
                      <label for="rating-input-1-3" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-2" name="taste" value="2"/>
                      <label for="rating-input-1-2" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-1" name="taste" value="1"/>
                      <label for="rating-input-1-1" class="rating-star"></label>
              </span>

              <span class="rating" style="float:left;">
                <h4 style="display: block; font-family: 'Nunito', sans-serif; color: #384047; margin: 0 0 10px 0; text-align: center; float:left">Cost Effective: </h4>                  
                      <input type="radio" class="rating-input" id="rating-input-1-5" name="costEffective" value="5"/>
                      <label for="rating-input-1-5" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-4" name="costEffective" value="4"/>
                      <label for="rating-input-1-4" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-3" name="costEffective" value="3"/>
                      <label for="rating-input-1-3" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-2" name="costEffective" value="2"/>
                      <label for="rating-input-1-2" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-1" name="costEffective" value="1"/>
                      <label for="rating-input-1-1" class="rating-star"></label>
              </span>
              
              <span class="rating" style="float:left;">
                <h4 style="display: block; font-family: 'Nunito', sans-serif; color: #384047; margin: 0 0 10px 0; text-align: center; float:left">Cleanliness: </h4>
                      <input type="radio" class="rating-input" id="rating-input-1-5" name="cleanliness" value="5"/>
                      <label for="rating-input-1-5" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-4" name="cleanliness" value="4"/>
                      <label for="rating-input-1-4" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-3" name="cleanliness" value="3"/>
                      <label for="rating-input-1-3" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-2" name="cleanliness" value="2"/>
                      <label for="rating-input-1-2" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-1" name="cleanliness" value="1/>
                      <label for="rating-input-1-1" class="rating-star"></label>
              </span>

              <span class="rating" style="float:left;">
                <h4 style="display: block; font-family: 'Nunito', sans-serif; color: #384047; margin: 0 0 10px 0; text-align: center; float:left">Overall: </h4>
                      <input type="radio" class="rating-input" id="rating-input-1-5" name="overall" value="5"/>
                      <label for="rating-input-1-5" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-4" name="overall" value="4"/>
                      <label for="rating-input-1-4" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-3" name="overall" value="3"/>
                      <label for="rating-input-1-3" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-2" name="overall" value="2"/>
                      <label for="rating-input-1-2" class="rating-star"></label>

                      <input type="radio" class="rating-input" id="rating-input-1-1" name="overall" value="1"/>
                      <label for="rating-input-1-1" class="rating-star"></label>
              </span>
              <br><br><br>
              <div style="float:left;">
                <h4 style="display: block; font-family: 'Nunito', sans-serif; color: #384047; margin: 0 0 10px 0; text-align: center; float:left">Review: </h4>
              <textarea id="bio" name="user_bio"></textarea>
              </div>

          <input type="hidden" name="type" value="student">
          <button type="submit" style="background-color:#DE4700">Submit</button>{% csrf_token %}
        </form>
    </div>  
{% endblock %}