<div id="menuTable">
{% if chosen_mealType %}
	<h1><font color="white">Menu For Today's {{ chosen_mealType }}</font></h1>
	{% if hostel_food %}
	  	<div id="Today's Table" class="w3-container table">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="border: 1px solid #dddddd"> Hostel </th>
						<th style="border: 1px solid #dddddd"> Dish </th>
					</tr>
				</thead>
				<tbody>
				{% for key, values in hostel_food %}
					<tr> 
					    <td>{{ key }}</td>
					    <td>
					    {% for v in values %}
	        			{{v}}<br>
	        			{% endfor %}
	        			</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
	   <font size="5" color="white">There are no records yet in the menu...</font>
	{% endif %}
{% else %}
   <font size="5" color="white">Please Choose a Meal Type...</font>
{% endif %}	
</div>
