{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div id="top-menu">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="background-color: #696969">
       <li><a class="menu" href="javascript:void(0)" onclick="openCity('Today\'s Menu')" style="width:200px;color:#FFFFFF">Today's Menu</a></li>
       <li><a href="javascript:void(0)" onclick="openCity('Week\'s Menu')" style="width:200px;color:#FFFFFF">Week's Menu</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">

  <div id="Today's Menu" class="w3-container city">
	<form action="" method="post" accept-charset="utf-8" style="float:left">{% csrf_token %}    
        <h1>Today's Menu</h1>      
        <fieldset>
	        <label for="job" style="float:left;color:#000000">Meal Type:</label>
	        <select id="job" name="mealType">
				<option value="Breakfast">Breakfast</option>
				<option value="Lunch">Lunch</option>
				<option value="Evening_snacks">Evening Snacks</option>
				<option value="Dinner">Dinner</option>
	        </select> 
        </fieldset>
        <button type="submit" name="today" style="background-color:#DE4700">Check</button>
	</form>
  </div>

  <div id="Week's Menu" class="w3-container city">
	<form action="" method="post" accept-charset="utf-8" style="float:left">{% csrf_token %}    
        <h1>Week's Menu</h1>      
        <fieldset>
	        <label for="job" style="float:left;color:#000000">Hostel:</label>
	        <select id="job" name="hostelType">
				<option value="Hostel-1">Hostel-1</option>
				<option value="Hostel-2">Hostel-2</option>
				<option value="Hostel-3">Hostel-3</option>
				<option value="Hostel-4">Hostel-4</option>
				<option value="Hostel-5">Hostel-5</option>
				<option value="Hostel-6">Hostel-6</option>
				<option value="Hostel-7">Hostel-7</option>
				<option value="Hostel-8">Hostel-6</option>
				<option value="Hostel-9">Hostel-9</option>
				<option value="Hostel-10">Hostel-10</option>
				<option value="Hostel-11">Hostel-11</option>
				<option value="Hostel-12">Hostel-12</option>
				<option value="Hostel-13">Hostel-13</option>
				<option value="Hostel-14">Hostel-14</option>
				<option value="Hostel-15">Hostel-15</option>
				<option value="Hostel-16">Hostel-16</option>
	        </select> 
        </fieldset>
        <button type="submit" name="week" style="background-color:#DE4700">Check</button>
	</form>
  </div>
</div>
<script>

openCity("Today's Menu")
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
}
</script>
{% endblock %}