{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block style %}
<style>
	th,td{
		text-align:left;
		border: 1px solid #dddddd;
	}
</style>
{% endblock %}

{% block body %}
<br>
<br>
<div class="container">
{% if hostel_food %}
  	<div id="Today's Table" class="w3-container table">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="border: 1px solid #dddddd"> Hostel </th>
					<th style="border: 1px solid #dddddd"> Dish </th>
				</tr>
			</thead>
			<tbody>
			{% for key, values in hostel_food %}
				<tr> 
				    <td>{{ key }}</td>
				    <td>
				    {% for v in values %}
        			{{v}}<br>
        			{% endfor %}
        			</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
   There are no records yet in menu.
{% endif %}
</div>

{% endblock %}

