{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block script %}
<script>
$(document).ready( function() {
openCity("TodayMenu")
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
}
});
</script>
{% endblock %}


{% block body %}

<div class="container">
  <div id="top-menu">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="background-color: #696969">
       <li><a class = "menu" href="javascript:void(0)" onclick="openCity('TodayMenu')" style="width:200px;color:#FFFFFF">Today's Menu</a></li>
       <li><a class = "menu" href="javascript:void(0)" onclick="openCity('WeekMenu')" style="width:200px;color:#FFFFFF">Week's Menu</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div id="TodayMenu" class="w3-container city">
	<form action="" method="post" accept-charset="utf-8" style="float:left">{% csrf_token %}    
        <h1>Today's Menu</h1>      
	        <label for="job" style="float:left;color:#000000">Meal Type:</label>
	        <select id="job" name="mealType">
				<option value="breakfast">Breakfast</option>
				<option value="lunch">Lunch</option>
				<option value="tiffin">Evening Snacks</option>
				<option value="dinner">Dinner</option>
	        </select> 
        <button type="submit" name="today" style="background-color:#DE4700">Check</button>
	</form>
  </div>

  <div id="WeekMenu" class="w3-container city">
	<form action="" method="post" accept-charset="utf-8" style="float:left">{% csrf_token %}    
        <h1>Week's Menu</h1>      
	        <label for="job" style="float:left;color:#000000">Hostel:</label>
	        <select id="job" name="hostelID">
				<option value="1">Hostel-1</option>
				<option value="2">Hostel-2</option>
				<option value="3">Hostel-3</option>
				<option value="4">Hostel-4</option>
				<option value="5">Hostel-5</option>
				<option value="6">Hostel-6</option>
				<option value="7">Hostel-7</option>
				<option value="8">Hostel-6</option>
				<option value="9">Hostel-9</option>
				<option value="10">Hostel-10</option>
				<option value="11">Hostel-11</option>
				<option value="12">Hostel-12</option>
				<option value="13">Hostel-13</option>
				<option value="14">Hostel-14</option>
				<option value="15">Hostel-15</option>
				<option value="16">Hostel-16</option>
	        </select> 
        <button type="submit" name="week" style="background-color:#DE4700">Check</button>
	</form>
  </div>

</div>
{% endblock %}