{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
{% endblock %}


{% block style %}
<style>
	form{
		width:50%;
	}
</style>
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
		<div class="student-profile-details">
	{% if isEmpty %}
		    <form action="/profile/" method="post" accept-charset="utf-8">
			    <h1>Fill your Details</h1><br>

			    <label for="rollNo">Roll Number</label>
			    <input type="text" value="" id="rollNo" name="rollNo" required="true" />

			    <label for="name">Name</label>
			    <input type="text" value="" id="name" name="name"/>

			    <label for="ldap">LDAP ID</label>
			    <input type="text" value="{{ldap}}" id="ldap" name="ldap" readonly/>

			    <label for="roomNo">Room Number</label>
			    <input type="number" value="" id="roomNo" name="roomNo" required="" />

			    <label for="phoneNo">Contact Number</label>
			    <input type="text" value="" id="phoneNo" name="phoneNo" required="" />

			    <input type="hidden" name="type" value="student">
			    <button type="submit" style="background-color:#DE4700">Submit</button>{% csrf_token %}
		    </form>
	{% else %}
		{% if edit %}
			    <form action="/profile/" method="post" accept-charset="utf-8">
				    <h1>Your Details</h1><br>

				    <label for="rollNo">Roll Number</label>
				    <input type="text" value="{{record.rollNo}}" id="rollNo" name="rollNo" required="true"/>

				    <label for="name">Name</label>
				    <input type="text" value="{{record.name}}" id="name" name="name"/>

				    <label for="ldap">LDAP ID</label>
				    <input type="text" value="{{record.ldap}}" id="ldap" name="ldap" readonly/>

				    <label for="roomNo">Room Number</label>
				    <input type="number" value="{{record.roomNo}}" id="roomNo" name="roomNo"/>

				    <label for="phoneNo">Contact Number</label>
				    <input type="text" value="{{record.phoneNo}}" id="phoneNo" name="phoneNo"/>

			    <input type="hidden" name="type" value="student">
			    <button type="submit" style="background-color:#DE4700">Submit</button>{% csrf_token %}
			    </form>
		{% else %}
			    <form action="/profile/" method="get" accept-charset="utf-8">
				    <h1>Your Details</h1><br>

				    <label for="rollNo">Roll Number</label>
				    <input type="text" value="{{record.rollNo}}" id="rollNo" name="rollNo" readonly/>

				    <label for="name">Name</label>
				    <input type="text" value="{{record.name}}" id="name" name="name" readonly/>

				    <label for="ldap">LDAP ID</label>
				    <input type="text" value="{{record.ldap}}" id="ldap" name="ldap" readonly/>

				    <label for="roomNo">Room Number</label>
				    <input type="number" value="{{record.roomNo}}" id="roomNo" name="roomNo" readonly />

				    <label for="phoneNo">Contact Number</label>
				    <input type="text" value="{{record.phoneNo}}" id="phoneNo" name="phoneNo" readonly />

				    <input type="hidden" name="type" value="student">
				    <input type="hidden" name="edit" value="True">
				    <button type="submit" style="background-color:#DE4700">Edit Details</button>{% csrf_token %}
			    </form>
		{% endif%}
		</div>	
	{% endif%}
{% endblock %}